

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kanit', sans-serif;
  background-color: #07040f;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://i.pinimg.com/1200x/bf/98/8e/bf988ee0c22cc657d29753187150d09c.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.01; /* ลางแค่ไหน ปรับที่นี่  https://i.pinimg.com/1200x/bf/98/8e/bf988ee0c22cc657d29753187150d09c.jpg    */
  z-index: -1;
}

header {
  font-family: 'Kanit', sans-serif;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #222;
}

header nav a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s;
}

header nav a:hover {
  color: #a41cff;
}

header .logo {
  font-weight: 700;
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
  color: #9500ff;
  cursor: pointer;
}

main {
  font-family: 'Kanit', sans-serif;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 80px;
  gap: 50px;
}

.content {
  max-width: 600px;
}

.content h1 {
  font-size: 48px;
  font-weight: 800;
  color: #9500ff;
  margin-bottom: 15px;
  font-family: 'Orbitron', sans-serif;
}

.content p {
  font-size: 16px;
  line-height: 1.5;
  color: #ddd;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.btn-primary {
  font-family: 'Kanit', sans-serif;
  background-color: #8400ff;
  border: none;
  color: white;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s;
  transition: transform 0.3s ease;
}

.btn-primary:hover {
  transform: scale(1.08);
  background-color: #a200ff;
  max-width: 500px;
  box-shadow: 0 0 50px rgba(132, 0, 255, 0.7);
}

.btn-secondary {
  font-family: 'Kanit', sans-serif;
  background-color: white;
  color: #111;
  border: none;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s;
  transition: transform 0.3s ease;
}

.btn-secondary:hover {
  transform: scale(1.08);
  background-color: #f2f2f2;
  max-width: 500px;
  box-shadow: 0 0 50px rgba(132, 0, 255, 0.7);
}

.image-container img {
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 0 0 100px rgba(132, 0, 255, 0.7);
}

h2 {
  font-family: 'Kanit', sans-serif;
  padding: 20px 40px;
  text-align: center;
  justify-content: space-between;
}

.best-sellers {
  margin-top: 50px;
  padding: 20px;
  color: white;
}

.best-sellers h2 {
  font-family: 'Kanit', sans-serif;
  font-size: 28px;
  color: #b218ff;
  margin-bottom: 20px;
}

.product-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  background-color: #111;
  border-radius: 12px;
  padding: 16px;
  width: 200px;
  text-align: center;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.08);
  box-shadow: 0 0 30px rgba(132, 0, 255, 0.7);
}

.product-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.stock {
  font-size: 12px;
  color: #ad32ff;
  margin-bottom: 4px;
}

.price {
  font-weight: bold;
  margin: 6px 0;
}

.btn-buy {
  background-color: #961eff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-family: 'Kanit', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-buy:hover {
  transform: scale(1.08);
  background-color: #a321ff;
}
